@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components
<div class="page">

    
    @if (GetLastSegment() == "crud")
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <div class="top-row px-4">
            <a class="mainMenuOption" href="/crud">Gestion CRUD</a>
            <a class="mainMenuOption" href="/grafana">Grafana</a>
            <a class="mainMenuOption" href="/visu3D">Visualisation 3D</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [Inject] NavigationManager NavigationManager { get; set; }

    private string GetLastSegment()
    {
        var uri = new Uri(NavigationManager.Uri);
        var segments = uri.AbsolutePath.Split(new char[] { '/' }, StringSplitOptions.RemoveEmptyEntries);
        return segments.Length > 0 ? segments[0] : string.Empty;
    }
}