@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<link rel="stylesheet" href="css/LayoutStyle.css" />

<div class="page">

    @if (GetMenuSection(NavigationManager.Uri) == "crud")
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <div class="header-container d-flex align-items-center position-relative">
            <div class="logo-container">
                <NavLink class="nav-link d-flex align-items-center" href="/">
                    <img src="/images/datacare.png" alt="Logo" class="logo" />
                </NavLink>
            </div>
            <div class="top-row px-4 d-flex align-items-center">
                <a class="mainMenuOption button" href="/crud/capteurs" style="
                background-color: #FFA500; /* Orange */
                border: none;
                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 4px;
                width: 10%;
            ">Gestion CRUD</a>
                <a class="mainMenuOption" href="http://10.103.101.128:3001//goto/VK_qmVvHg?orgId=1" style="
                background-color: #FFA500; /* Orange */
                border: none;
                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 4px;
                width: 10%;
            ">Grafana</a>
                <a class="mainMenuOption" href="/alarme" style="
                background-color: #FFA500; /* Orange */
                border: none;
                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 4px;
                width: 10%;
            ">Alarme</a>
                <a class="button-22" role="button" href="/visu3D" style="
                background-color: #FFA500; /* Orange */
                border: none;
                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 4px;
                width: 10%;
            ">Visualisation 3D</a>
            </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    /// <summary>
    /// Permet de récupérer le menu source. Exemple: /crud/batiment retourne crud ou /grafana retourne grafana.
    /// </summary>
    /// <param name="uri">URL à vérifier</param>
    /// <returns>Le premier élément</returns>
    private String? GetMenuSection(String? uri)
    {
        if (String.IsNullOrEmpty(uri))
        {
            throw new ArgumentNullException("L'URL fourni est incorrect");
        }

        String relativePath = NavigationManager.ToBaseRelativePath(uri);
        String[] segments = relativePath.Split('/', StringSplitOptions.RemoveEmptyEntries);
        return segments.Length > 0 ? segments[0] : String.Empty;
    }
}

