@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a class="mainMenuOption" href="/crud">Gestion CRUD</a>
            <a class="mainMenuOption" href="/grafana">Grafana</a>
            <a class="mainMenuOption" href="/visu3D">Visualisation 3D</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
