<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Client_SAE_5</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="crud" Match="NavLinkMatch.All">
                <Icon Name="IconName.HouseDoorFill" Size="IconSize.x2" aria-hidden="true"></Icon> <p class="navText" style="margin: 0px 0px 0px 10px; font-weight:600;">Accueil</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="crud/salles">
                <Icon Name="IconName.BoundingBox" Size="IconSize.x2" aria-hidden="true"></Icon> <p class="navText" style="margin: 0px 0px 0px 10px;font-weight:600;"> Salles</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="crud/capteurs">
                <Icon Name="IconName.ThermometerSun" Size="IconSize.x2" aria-hidden="true"></Icon> <p class="navText" style="margin: 0px 0px 0px 10px;font-weight:600;"> Capteurs</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="crud/murs">
                <Icon Name="IconName.Bricks" Size="IconSize.x2" aria-hidden="true"></Icon> <p class="navText" style="margin: 0px 0px 0px 10px;font-weight:600;">Murs</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="crud/typesalles">
                <Icon Name="IconName.HouseGearFill" Size="IconSize.x2" aria-hidden="true"></Icon> <p class="navText" style="margin: 0px 0px 0px 10px;font-weight:600;">Type de salles</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="crud/batiments">
                <Icon Name="IconName.BuildingFill" Size="IconSize.x2" aria-hidden="true"></Icon> <p class="navText" style="margin: 0px 0px 0px 10px;font-weight:600;">Batiments</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="crud/equipements">
                <Icon Name="IconName.PrinterFill" Size="IconSize.x2" aria-hidden="true"></Icon> <p class="navText" style="margin: 0px 0px 0px 10px;font-weight:600;">Équipements</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="crud/typesequipement">
                <Icon Name="IconName.DatabaseFillGear" Size="IconSize.x2" aria-hidden="true"></Icon> <p class="navText" style="margin: 0px 0px 0px 10px;font-weight:600;">Types d'équipement</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="crud/unites">
                <Icon Name="IconName.Rulers" Size="IconSize.x2" aria-hidden="true"></Icon> <p class="navText" style="margin: 0px 0px 0px 10px;font-weight:600;">Unités</p>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
