@page "/visu3D"
@inject SalleViewModel SalleViewModel

<script src="/js/main.js"></script>

<PageTitle>Visualisation 3D</PageTitle>
<h3>Visualisation 3D de la D351</h3>

<div style="width:100%;height:80vh;">
    <canvas id="renderer" style="width:100%;height:100%;"></canvas>
</div>
@code {

}
