@page "/visu3D"
@inject SalleViewModel SalleViewModel
<script src="/js/babylon.js" defer></script>
<script src="/js/loader.js" defer></script>
<script src="/js/main.js" defer></script>

<PageTitle>Visualisation 3D</PageTitle>
<h3>Visualisation des différentes salles:</h3>

<select>
    <option>Sélectionnez une salle...</option>
    <option>D351</option>
    <option>D101</option>
</select>


    <canvas id="renderer" width="1000" , height="750"></canvas>
@code {

}
