@page "/visu3D"
@inject SalleViewModel SalleViewModel

<PageTitle>Visualisation 3D</PageTitle>
<h3>Visualisation des différentes salles:</h3>

<select>
    <option>Sélectionnez une salle...</option>
    <option>D351</option>
    <option>D101</option>
</select>

@code {

}
