
@if(ConfirmationVisible)
{
    <Modal @ref="confirmModal" Size="ModalSize.Large" Title=@ConfirmationTitle>
        <BodyTemplate>
            <div class="modal-body">
                @ConfirmationMessage
            </div>
        </BodyTemplate>
        <FooterTemplate>
            <button class="btn btn-primary" @onclick="() => OnConfirmationChange(false)">Annuler</button>
            <button class="btn btn-danger"  @onclick="() => OnConfirmationChange(true)">Supprimer</button>
        </FooterTemplate>
    </Modal>
}



@code{
    private Modal confirmModal;

    [Parameter]
    public string ConfirmationTitle { get; set; } = "Confirm Delete";

    [Parameter]
    public string ConfirmationMessage { get; set; } = "Are you sure you want to delete";

    [Parameter]
    public EventCallback<bool> ConfirmationChanged { get; set; }

    protected bool ConfirmationVisible { get; set; } = false;

    public void Show()
    {
        ConfirmationVisible = true;
        StateHasChanged();
    }

    private async Task OnConfirmationChange(bool value)
    {
        ConfirmationVisible = false;
        await ConfirmationChanged.InvokeAsync(value);
    }
}
