/* CAPTEUR PAGE DETAIL */
.murInfo {
    display: flex;
}

div#cadreMur{
    position:relative;
    border:1px solid black;
}

div#cadreMur div{
    position:absolute;
    width: 10px;
    height:10px;
    background-color:red;
}

li.listeUnites{
    gap:10px;
    list-style:none;
}

li.listeUnites button{
    font-size:0.7em;
    height:30px;
    
}

div#mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* CAPTEUR MODAL */

div#formCapteur{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap:10%;
}

div#formCapteur  div.formCapteurGroup{
    width:45%;
}

div#formRightGroup{
    display:flex;
    flex-direction:column;
    justify-content:space-between !important;
}

div #formRightGroup:nth-child(1){
    height:80%;
}

div#divUnitesCapteur{
    height:100%;
    max-height:100%;
    overflow-y:auto;
    padding:10px;
}

div.formGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
}

div#formCapteur section {
    margin: 0 0 15px 10px;
}