@page "/"

<PageTitle>Accueil</PageTitle>

<h1>Accueil du client Blazor</h1>

Vous pouvez gérer les données statiques (Salles, Batiments, Capteurs...)

Vous pouvez visualiser les différentes salles en 3D ici.

Vous pouvez visualiser les différentes données grâce au service Grafana ici. 
